.container-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 1rem 2.5rem;
}

.logo{
	height: 2.9rem;
	width: 2.9rem;
	background-color: $second-color;
	border-radius: 50%;
}

.navbar{
	display: flex;
	list-style: none;
}

.navbar__item{
	display: block;
	background-color: $second-color;
	height: 1.5rem;
	width: 8.5rem;
	margin: 0 0 0 2.2rem;
}