doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title beeinterns
		link(rel="stylesheet", href="main.css")
		link(href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet")
	body
	header
		.container-nav
			.logo.animation-flare
			nav
				ul.navbar
					li.navbar__item.animation-flare
					li.navbar__item.animation-flare
					li.navbar__item.animation-flare
					li.navbar__item.animation-flare
		main
			section
				.container.container_gray
					.banner
						h2.banner__header Banner Header
						p.banner__p Lorem ipsum dolor sit amet
						.banner__controls
							button.button.button_white white button
							button.button.button_black.ml1_5 black button
			section
				.container
					.article-row
						.article-row-item
							article
								.article-row-item__image.animation-flare
								h3.article-row-item__header Article Header
								p.article-row-item__p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, officiis temporibus? Ullam, dolorem ut cum non sapiente magnam, consequatur temporibus molestiae exercitationem vero iusto sit ex aspernatur?
								a.article-row-item__a Read More
						.article-row-item
							article
								.article-row-item__image.animation-flare
								h3.article-row-item__header Article Header
								p.article-row-item__p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, officiis temporibus? Ullam, dolorem ut cum non sapiente magnam, consequatur temporibus molestiae exercitationem vero iusto sit ex aspernatur?
								a.article-row-item__a Read More
						.article-row-item
							article
								.article-row-item__image.animation-flare
								h3.article-row-item__header Article Header
								p.article-row-item__p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, officiis temporibus? Ullam, dolorem ut cum non sapiente magnam, consequatur temporibus molestiae exercitationem vero iusto sit ex aspernatur?
								a.article-row-item__a Read More
			section
				.container.container_gray
					.sign-up
						h2.sign-up__header Sign Up for updates
						form.sign-up__form(action="#")
							input.sign-up_email(type="email" pattern="^[a-z._]+@[a-z]+\.[a-z]+$" placeholder="Enter you email" required)
							button.button.button_black(type="submit") fill button
			section
				.container
					.article-column
						.article
						
	script(src="index.js")
		