doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title beeinterns
        link(rel="stylesheet", href="main.css")
        link(href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet")
    body
    header
        .container-nav
            .logo
            nav
                ul.navbar
                    li.navbar__item
                    li.navbar__item
                    li.navbar__item
                    li.navbar__item
        main
            section
                .container.container_gray
                    .banner
                        h2.banner__header Banner Header
                        p.banner__p Lorem ipsum dolor sit amet
                        .banner__controls
                            button.button.button_white white button
                            button.button.button_black black button
            section
                .container
                    .article-list
                        article
                            .article
                                .article__image
                                h3.article__header Article Header
                                p.article__p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, officiis temporibus? Ullam, dolorem ut cum non sapiente magnam, consequatur temporibus molestiae exercitationem vero iusto sit ex aspernatur?
                                a.article__a Read More
                        article
                            .article
                                .article__image
                                h3.article__header Article Header
                                p.article__p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, officiis temporibus? Ullam, dolorem ut cum non sapiente magnam, consequatur temporibus molestiae exercitationem vero iusto sit ex aspernatur?
                                a.article__a Read More
                        article
                            .article
                                .article__image
                                h3.article__header Article Header
                                p.article__p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, officiis temporibus? Ullam, dolorem ut cum non sapiente magnam, consequatur temporibus molestiae exercitationem vero iusto sit ex aspernatur?
                                a.article__a Read More

    script(src="index.js")
        